@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900");
/* line 4, ../sass/_cleaner.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 17, ../sass/_cleaner.scss */
body {
  line-height: 1; }

/* line 57, ../sass/_cleaner.scss */
blockquote {
  quotes: none; }
  /* line 60, ../sass/_cleaner.scss */
  blockquote:before {
    content: '';
    content: none; }
  /* line 64, ../sass/_cleaner.scss */
  blockquote:after {
    content: '';
    content: none; }

/* line 74, ../sass/_cleaner.scss */
a:focus {
  outline: none; }

/* line 114, ../sass/_cleaner.scss */
q {
  quotes: none; }
  /* line 117, ../sass/_cleaner.scss */
  q:before {
    content: '';
    content: none; }
  /* line 121, ../sass/_cleaner.scss */
  q:after {
    content: '';
    content: none; }

/* line 174, ../sass/_cleaner.scss */
ol {
  list-style: none; }

/* line 178, ../sass/_cleaner.scss */
ul {
  list-style: none; }

/* line 197, ../sass/_cleaner.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 223, ../sass/_cleaner.scss */
article {
  display: block; }

/* line 227, ../sass/_cleaner.scss */
aside {
  display: block; }

/* line 234, ../sass/_cleaner.scss */
details {
  display: block; }

/* line 241, ../sass/_cleaner.scss */
figure {
  display: block; }

/* line 245, ../sass/_cleaner.scss */
figcaption {
  display: block; }

/* line 249, ../sass/_cleaner.scss */
footer {
  display: block; }

/* line 253, ../sass/_cleaner.scss */
header {
  display: block; }

/* line 257, ../sass/_cleaner.scss */
hgroup {
  display: block; }

/* line 261, ../sass/_cleaner.scss */
menu {
  display: block; }

/* line 265, ../sass/_cleaner.scss */
nav {
  display: block; }

/* line 275, ../sass/_cleaner.scss */
section {
  display: block; }

/* line 294, ../sass/_cleaner.scss */
.fix {
  clear: both; }

/* line 40, ../sass/styles.scss */
.container {
  display: block;
  margin: 0 auto;
  width: 980px;
  float: none;
  height: 100%;
  padding: 0; }

/* line 46, ../sass/styles.scss */
.wrapper {
  width: 100%;
  position: relative; }
  /* line 49, ../sass/styles.scss */
  .wrapper.i {
    display: inline-block; }

/* line 54, ../sass/styles.scss */
.leftDiv {
  float: left;
  display: block; }

/* line 59, ../sass/styles.scss */
.rightDiv {
  float: right;
  display: block; }

/* line 4, ../sass/_main.scss */
body > .wrapper {
  height: 100%;
  min-height: 100vh; }
/* line 11, ../sass/_main.scss */
body .header {
  background: #f3f0f9; }
/* line 33, ../sass/_main.scss */
body .footer .wrapper {
  height: 100%; }

/* line 13, ../sass/_menu.scss */
body .header .container .mailMenu li {
  float: left;
  position: relative; }
  /* line 16, ../sass/_menu.scss */
  body .header .container .mailMenu li span {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px; }
  /* line 21, ../sass/_menu.scss */
  body .header .container .mailMenu li .sub-menu {
    position: absolute;
    display: block;
    width: 80px;
    left: 0;
    background: #e5c5f5;
    display: none; }
/* line 35, ../sass/_menu.scss */
body .header .container .mainButton {
  height: 30px !important;
  display: none;
  width: 30px !important;
  float: right; }
  /* line 41, ../sass/_menu.scss */
  body .header .container .mainButton span svg {
    height: 30px !important;
    width: 30px !important; }
    /* line 45, ../sass/_menu.scss */
    body .header .container .mainButton span svg g path {
      stroke: aqua; }

@media (max-width: 400px) {
  /* line 69, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mailMenu {
    display: none; }
    /* line 72, ../sass/_menu.scss */
    body .wrapper.header .container .wrapper .mailMenu li .sub-menu {
      position: relative; }
  /* line 77, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mainButton {
    display: block; } }
@media (min-width: 400px) {
  /* line 97, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mailMenu {
    display: none; }
    /* line 100, ../sass/_menu.scss */
    body .wrapper.header .container .wrapper .mailMenu li .sub-menu {
      position: relative; }
  /* line 105, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mainButton {
    display: block; } }
@media (min-width: 1000px) {
  /* line 133, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mailMenu {
    display: block; }
    /* line 136, ../sass/_menu.scss */
    body .wrapper.header .container .wrapper .mailMenu li .sub-menu {
      position: absolute; }
  /* line 141, ../sass/_menu.scss */
  body .wrapper.header .container .wrapper .mainButton {
    display: none; } }
@media (max-width: 400px) {
  /* line 3, ../sass/_responsive.scss */
  .container {
    width: 100%; }

  /* line 12, ../sass/_responsive.scss */
  body .wrapper.header .container .wrapper {
    min-height: 70px; } }
@media (min-width: 400px) {
  /* line 25, ../sass/_responsive.scss */
  .container {
    width: 100%; }

  /* line 34, ../sass/_responsive.scss */
  body .wrapper.header .container .wrapper {
    min-height: 70px; } }
@media (min-width: 1000px) {
  /* line 55, ../sass/_responsive.scss */
  .container {
    width: 980px; } }
