//imgs

body {
	> .wrapper {
		height: 100%;
		min-height: 100vh;
	}

	//header

	.header {
		background: #f3f0f9;
		.container {
			
		}
	}
	
	//header

	//content

	.content {
		.container {

		}
	}
	
	//content

	//footer

	.footer {
		.wrapper {
			height: 100%;
			.container { 

			}
		}
	}
	
	//footer

}