@media (max-width: $wid_1) {
	
	.container {
		width: 100%;
	}
	
	body {

		.wrapper {
			&.header {
				.container {
					.wrapper {
						min-height: 70px;
					}
				}
			}
		}

	}

}

@media (min-width: $wid_1) {
	
	.container {
		width: 100%;
	}

	body {

		.wrapper {
			&.header {
				.container {
					.wrapper {
						min-height: 70px;
					}
				}
			}
		}

	}

}

@media (min-width: $wid_2) {

}

@media (min-width: $wid_3) {

}

@media (min-width: $wid_4) {

	.container {
		width: $site_w;
	}

	body {

		.wrapper {
			&.header {
			}
		}

	}

}

@media (min-width: $wid_5) {

}